@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Comfortaa&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
  background-color: #1f1d20;
}
.collection_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  animation: glow 10s ease-in-out infinite alternate;
}
.heading h1 {
  color: white;
  font-family: "Akaya Telivigala", cursive;
  font-size: 40px;
  color: #f7f7f7;
  animation: glowt 10s ease-in infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #0fa, 0 0 30px #0fa;
  }
  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(0, 89, 255),
      0 0 30px rgb(0, 89, 255);
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(255, 0, 242),
      0 0 30px rgb(255, 0, 242);
  }
}
@keyframes glowt {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #0fa, 0 0 30px rgba(4, 250, 168, 0.815);
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(0, 89, 255),
      0 0 30px rgb(0, 89, 255);
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(255, 0, 242),
      0 0 30px rgb(255, 0, 242);
  }
}

.collections {
  width: 80%;
  height: 100vh;
  color: #fff;
}
.collection {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 ;
}
.collection_cards {
  position: relative;
  margin: 30px 20px 0px 20px;
  max-height: 520px;
  max-width: 230px;
  border-radius: 0.75rem;
  transition-duration: 0.4s;
  box-shadow: 8px 4px rgba(199, 199, 199, 0.623),
    16px 8px rgba(82, 82, 82, 0.473);
  overflow: hidden;
}
.collection_cards.shadow{
  min-width: 190px;
  height: 200px;
  border-radius: 0.75rem;
  cursor: progress;
  background:  rgb(94, 91, 91);

}
.collection_cards_main_shadow {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}
.collection_cards_shadow {
  margin: 40px 20px 10px 20px;
  width: 240px;
  height: 200px;
  border-radius: 0.75rem;
  cursor: progress;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(rgb(94, 91, 91), rgb(94, 91, 91));
  background-repeat: no-repeat;
  background-size: 240px 200px, 240px 200px;
  background-position: -240px 0, 0 0;
  animation: loading 1.2s infinite;
}
@keyframes loading {
  to {
    background-position: 240px 0, 0 0;
  }
}
.collection_cards_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}
.collection_cards img,
video {
  margin-bottom: -7px;
  width: 100%;
  /* height: 100%; */
}

.collection_cards:hover {
  transform: rotate(2deg) scale(1.05);
  cursor: pointer;
}
.collection_cards:hover::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -35%;
  width: 100%;
  height: 150%;
  background: linear-gradient(90deg, transparent, rgb(255, 255, 255, 0.2));
  transform: rotate(45deg);
}

@media (max-width: 800px) {
  .collection {
    justify-content: center;
  }
  .collection_cards {
    margin: 20px 10px;
    max-height: 200px;
    width: 180px;
  }
  .collection_cards img,
  video {
    width: 100%;
    height: 100%;
  }
  .collection_cards.shadow{
  height: 180px;
   width: 160px;
  }

  .collection_cards_shadow {
    margin: 20px 10px;
    max-height: 200px;
    max-width: 180px;

    background-repeat: no-repeat;
    background-size: 180px 200px, 180px 200px;
    background-position: -180px 0, 0 0;
    animation: loading 1.2s infinite;
  }
}
@media (max-width: 500px) {
  .collection {
    justify-content: center;
    /* background-color: red; */
  }
  .collection_cards {
    margin: 20px 10px;
    max-height: 190px;
    width: 160px;
  }
  .collection_cards_shadow {
    margin: 20px 10px;
    height: 180px;
    width: 160px;

    background-repeat: no-repeat;
    background-size: 160px 180px, 160px 180px;
    background-position: -160px 0, 0 0;
    animation: loading 1.2s infinite;
  }
  .collection_cards.shadow{
    max-height: 180px;
     width: 160px;
    }
}
@media (max-width: 400px) {
  .collection_cards_shadow {
    margin: 20px 10px;
    height: 160px;
    width: 120px;

  }
}
